@import '../../helper/helper';

.vApod {
  .title {
    margin: 0;
  }

  .section {
    margin-bottom: 30px;

    &.image {
      -webkit-box-shadow: 0 0 26px 5px $c1;
      -moz-box-shadow: 0 0 26px 5px $c1;
      box-shadow: 0 0 26px 5px $c1;
    }
  }
}