@import '../../helper/helper';

.vLunarPhase {
  h1, h3 {
    color: $c3;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

  ul {
    li {
      list-style: none;
      width: 120px;
      background: grey;
      border: 1px solid black;
      padding: 15px;
    }
  }
}