@import "colors";

h1 {
  color: $c1;
  font-family: Gill Sans, Verdana;
  padding: 0 0 6px 0;
  font-size: 35px;
  line-height: 44px;
  letter-spacing: -2px;
}

h3 {
  color: $c1;
  font-family: Gill Sans, Verdana;
  font-size: 25px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  color: $c3;
  text-align: justify;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing: 0.1em;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 14pt;
  font-variant: small-caps;

  &:first-letter {
    text-transform: uppercase;
  }
}