@import '../../helper/helper';

.apod {
  .title {
    margin: 0;
  }

  .section {
    margin-bottom: 30px;

    &.image {
      -webkit-box-shadow: -11px 0px 26px 5px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: -11px 0px 26px 5px rgba(0, 0, 0, 0.58);
      box-shadow: -11px 0px 26px 5px rgba(0, 0, 0, 0.58);
    }
  }
}