<div class="component vAccordion">
    <div role="tablist">
        <b-card no-body v-for="accordion in accordions">
            <b-card-header header-tag="header" class="p-1" role="tab">
                <b-button block href="#" class="accBtn" v-b-toggle="accordion.id">{{ accordion.title }}</b-button>
            </b-card-header>
            <b-collapse :id="accordion.id" visible accordion="my-accordion" role="tabpanel">
                <b-card-body class="informations">
                    <p class="card-text">
                       {{ accordion.informations }}
                    </p>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</div>