@import '../../helper/helper';

.vSeparator {
  .title-section {
    text-align: center;
  }

  hr {
    width: 90%;
    height: 50px;
    border-bottom: 1px solid $c1-lighter;
    box-shadow: 0 20px 20px -17px $c1;
    margin: 0 auto 20px;
  }
}


